/*banner*/

#banner {
  background: url(../images/common/bgBanner.jpg)no-repeat center top;
  background-size: cover;
  padding: 10px 0 129px;
  .bannerTop{
    .col-2{
      padding: 10px 0 0;
      text-align: right;
      h5{
        font-family: "Rajdhani";
        font-weight:400;
        font-size: 15px;
        color: #FFF;
      }
      p{
        margin: 0;
        font-family: "teko";
        font-weight: 400;
        font-size: 35px;
        color: #FFFFFF;
      }
    }
  }
  .bannerBot{
    p{
      margin: 409px auto 0;
      text-align: left;
      text-indent: 114px;
      font-family: "Montserrat";
      font-weight: 900;
      font-size: 120px;
      color: #FFFFFF;
      line-height: 100%;
      span{
        display: block;
        &:nth-child(1){
          margin-left: 65px;
          font-size: 65px;
          line-height: 100%
        }
        &:nth-child(2){
          margin-left: 140px;
          font-weight: bold;
          font-size: 31px;
          line-height: 120%
        }
      }
    }
  }
}
#banner2{
  background: #0059B2;
  padding: 30px 0;
  h1{
    font-family: "Teko";
    font-weight: 400;
    font-size: 80px;
    color: #FFFFFF;
    line-height:100%;
  }
  h2{
    font-family: "Rajdhani";
    font-weight: 500;
    font-size: 40px;
    color: #FFFFFF;
    line-height: 119%;
  }
}
