/*footer*/
#footer {
  background: url(../images/common/bgFooter.jpg)no-repeat center top;
  background-size: cover;
  padding: 20px 0;
  .footTop{
    .row{
      padding-bottom: 40px;
      margin-bottom: 40px;
      border-bottom: 1px solid #FFF;
    }
    .container{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
    }
    .footTopLeft{
      max-width: 280px;
      width: 100%;
      text-align: left;
      p{
        font-family:"Rajdhani";
        font-weight: 400;
        font-size: 15px;
        color: #FFFFFF;
        letter-spacing: 2px;
        line-height: 32.5px;
        span{
          display: block;
          font-family: "Teko";
          font-weight: 400;
          font-size: 30px;
          color: #FFFFFF;
        }
      }
    }
    .footTopMid{
      img{
        max-width: 285px;
        width: 100%;
      }
    }
    .footTopRight{
      max-width: 280px;
      width: 100%;
      color: #FFF;
      text-align: left;
      p{
        margin: 0 auto;
        font-family:"Rajdhani";
        font-weight: 400;
        font-size: 15px;
        color: #FFFFFF;
        letter-spacing: 2px;
        line-height: 32.5px;
        span{
          display: block;
          font-family: "Teko";
          font-weight: 400;
          font-size: 30px;
          color: #FFFFFF;
        }
        &:nth-child(3){
          a{
            img{
              &.fb{background: url(../images/common/smSmall-sprites.png)no-repeat 0 0; width: 29px; height: 28px;}
              &.gp{background: url(../images/common/smSmall-sprites.png)no-repeat -36px 0; width: 29px; height: 28px;}
              &.in{background: url(../images/common/smSmall-sprites.png)no-repeat -69px 0; width: 29px; height: 28px;}
              &.tt{background: url(../images/common/smSmall-sprites.png)no-repeat -105px 0; width: 29px; height: 28px;}
              &.ig{background: url(../images/common/smSmall-sprites.png)no-repeat -140px 0; width: 29px; height: 28px;}
              &.yt{background: url(../images/common/smSmall-sprites.png)no-repeat -172px 0; width: 29px; height: 28px;}
            }
          }
        }
      }
    }
  }
  .footBot{
    ul {
      margin: 10px 0;
      padding: 0;
      li {
        display: inline-block;
        vertical-align: middle;
        a {
          font-family: "Teko";
          font-weight: 400;
          font-size: 22px;
          color: #FFFFFF;
          letter-spacing: 2px;
          padding: 1px 0;
          span{
            font-size: 18px;
            margin: 0 5px 0;
            display: inline-block;
            vertical-align: middle;
          }

        }
        &:first-child a, &:last-child a{padding: 0 0;}
        &.active-menu a, a:hover {
          color: #0059B2;
          span{
            color: #FFFFFF;
          }
        }
      }
    }
  }
  .copy, .silver{
    font-family: "Rajdhani";
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
    color: #FFF;
    margin: 10px auto;
  }
  .silver img {
    display: inline-block;
    vertical-align: middle;
    max-width: 50px;
  }
}
