/*header*/

#header {
  background: #0059B2;
  padding: 14px 0;
  .hdLeft{
    text-align: left;
    nav {
      a#pull {
        display: none;
      }
      ul {
        margin: 10px 0;
        padding: 0;
        li {
          display: inline-block;
          vertical-align: middle;
          a {
            font-family: "Teko";
            font-weight: 400;
            font-size: 22px;
            color: #FFFFFF;
            letter-spacing: 2px;
            padding: 1px 0;
            span{
              font-size: 18px;
              margin: 0 10px 0;
              display: inline-block;
              vertical-align: middle;
            }

          }
          &:first-child a, &:last-child a{padding: 0 0;}
          &.active-menu a, a:hover {
            color: #fff;
          }
        }
      }
    }
  }
  .hdRight{
    text-align: right;
    p{
      margin: 0;
      a{margin-left: 8px;}
    }
  }
}
