/*Our Works*/
#works{
  background: linear-gradient(#D6D6D6,#FFFFFF);
  padding: 50px 0;
  .row{
    text-align: left;
    max-width: 1200px ;
    p{
      font-family: "Rajdhani";
      font-weight: 500;
      font-size: 27px;
      color: #000000;
      margin: 5px auto;
    }
    &:nth-child(2){
      .container{margin: 20px auto 0;}
      text-align: center;
      max-width: 1876px;
      margin: 0 0 0 auto;
      .workLeft.col-6{
        width: 55.70362473347548%;
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        flex-direction: row;
        align-content: space-between;
        align-items: center;
        img{
          margin: 0 5px 17px;
          &:nth-child(1){
            max-width: 497px;
            width: 48%;
            height: 100%;
          }
          &:nth-child(2){
            max-width: 401px;
            width: 39%;
            height: 100%;
          }
          &:nth-child(3){
            max-width: 509px;
            width: 48%;
            height: 100%;
          }
          &:nth-child(4){
            max-width: 516px;
            width: 49%;
            height: 100%;
          }
        }
      }
      .workMid.col-3{
        width: 23.02771855010661%;
        .gal{
          text-align: center;
          max-width: 431px;
          width: 100%;
          height: 100%;
          position: relative;
          .galleryTxt{
            position: absolute;
            bottom: 50px;
            left: 50%;
            transform: translateX(-50%);
            h2{
              letter-spacing: 4px;
              font-size: 4vw;
              color: #FFF;
              margin-bottom: 20px;
            }
            .galleryBtn{
              font-family: "Rajdhani";
              font-size: 15px;
              font-weight: 400;
              color: #000;
              letter-spacing: 2px;
              display: inline-block;
              padding: 18px 2.5vw;
              background: #FFFFFF;
              border-radius: 0;
              border: 1px solid transparent;
              transition: all 0.5s ease;
              &:hover {
                background: #ddd;
                border-color: #ddd;
                color: #ddd;
                color: #DDD;
              }
            }
          }
        }
        img{
          max-width: 401px;
          width: 92%;
          height: 100%;
          margin: 0 auto;
        }
      }
      .workRight.col-3{
        width: 21.26865671641791%;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        img{
          margin: 0 0 17px;
          &:nth-child(1){
            max-width: 401px;
            width: 100%;
            height: 100%;
          }
          &:nth-child(2){
            max-width: 356px;
            width: 89%;
            height: 100%;
          }
        }
      }
    }
  }
}
