/*What we do*/
#what{
  background: url(../images/common/bgWhat.jpg)no-repeat center top;
  background-size: cover;
  padding: 83px 0 78px;
  .whtLeft{
    text-align: left;
    padding: 20px 0;
    p{
      font-family: "Rajdhani";
      font-weight: 500;
      font-size: 20px;
      line-height: 138%;
      max-width: 545px;
      color: #212121;
    }
    ul{
      list-style: square inside url('../images/common/check-blue.png');
      columns: 2;
      padding: 0 0 0 0;
      margin: 50px 0;
      li{
        font-family: "teko";
        font-weight: 400;
        font-size: 22px;
        color: #222222;
        line-height: 180%;
        span{
          margin-left: 20px;
        }
      }
    }
  }
  .whtRight{
    div{
      position: relative;
      max-width: 743px;
      width: 100%;
      &::after{
        content: "";
        width: 0;
        height: 0;
        border-top: 176px solid transparent;
        border-left: 110px solid #0059B2;
        border-bottom: 0 solid transparent;
        position: absolute;
        bottom: 4px;
        left: 0;
        z-index: 0;
      }
      img{
        max-width: 743px;
        width: 100%;
      }
    }
  }
}
