/*services*/
#services{
  background: url(../images/common/bgServices.jpg)no-repeat center top;
  background-size: cover;
  padding: 50px 0 100px;
  .row{
    max-width: 1200px
  }
  h2{
    text-align: left;
  }
  .container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    dl{
      max-width: 290px;
      width: 24%;
      dt{
        img{max-width: 290px;
        width: 100%;
        height: 100%;
        }
      }
      dd{
        background: #0059B2;
        margin: -5px 0;
        padding: 20px 0 30px 26px;
        text-align: left;
        h3{
          font-family: "Teko";
          font-weight: 400;
          font-size: 33px;
          color: #FFFFFF;
          margin-bottom: 20px;
        }
        .servicesbtn {
          font-family: "Teko";
          font-size: 16px;
          font-weight: 400;
          letter-spacing: 2.5px;
          color: #FFF;
          display: inline-block;
          padding: 15px 29px;
          background: none;
          border: 1px solid #FFF;
          transition: all 0.5s ease;
          &:hover {
            background: #ddd;
            border-color: #ddd;
            color: #ddd;
            color: #fff;
          }
        }
      }
    }
  }
}
