/*location*/
#location{
  background: url(../images/common/bgLocation.jpg)no-repeat center top;
  background-size: cover;
  padding: 40px 0;
  .row{
    max-width: 1200px;
    margin: 0 auto;
  }
  h2{
    color: #FFFFFF;
  }
  iframe{
    width: 100%;
    height: 287px;
    border:0;
  }
  h4{
    font-family: "Rajdhani";
    font-weight: 700;
    font-size: 30px;
    color: #FFF;
    line-height: 120%;
    margin: 40px auto;
  }
  .container{
    ul{
      padding: 0;
      list-style: square inside url('../images/common/check-white.png');
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      li{
        font-family: "Rajdhani";
        font-weight: 400;
        font-size: 20px;
        color: #FFFFFF;
      }
    }
  }

}
