/*welcome*/
#welcome{
  background: url(../images/common/bgWelcome.jpg)no-repeat center top;
  background-size: cover;
  padding: 100px 0 80px;
  .col-6{
    .container{
      position: relative;
      text-align: left;
      background: #FFFFFF;
      max-width: 564px;
      width: 79%;
      padding: 55px 60px 53px;
      margin-left: -8px;
      &::after{
        content: "";
        width: 0;
      	height: 0;
        border-top: 176px solid transparent;
        border-left: 110px solid #0059B2;
        border-bottom: 0 solid transparent;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 0;
      }
      p{
        font-family: "Rajdhani";
        font-weight: 400;
        font-size: 20px;
        color: #333333;
        line-height: 150%
      }
      .welcomebtn {
        position: relative;
        z-index: 1;
        font-family: "Century Gothic";
        font-size: 15px;
        font-weight: 700;
        letter-spacing: 1px;
        color: #FFF;
        display: inline-block;
        padding: 23px 30px;
        background: linear-gradient(to right, #969696 -12%, #262626 55%);
        border-radius: 5px;
        border: 1px solid #000;
        transition: all 0.5s ease;
        &:hover {
          background: #ddd;
          border-color: #ddd;
          color: #ddd;
          color: #000;
        }
      }
    }
  }
}
