/*WHY CHOOSE US*/
#why{
  background: url(../images/common/bgWhy.jpg)no-repeat center top;
  background-size: cover;
  padding: 60px 0;
  .row{
    max-width: 1200px;
  }
  .whyLeft{
    text-align: left;
    .container{
      text-align: left;
      border-radius: 5px;
      background: #FFFFFF;
      padding: 23px 33px;
      max-width: 419px;
      h2{
        span{
          display: block;
          font-family: "Teko";
          font-weight: 400;
          font-size: 26px;
          color: #333333;
        }
      }
      form{
        text-align: left;
        input[type="text"]{
          max-width: 415px;
          height: 52px;
          border-radius: 0;
          &::placeholder{
            font-family: "Rajdhani";
            font-weight: 400;
            font-size: 15px;
            color: #535353
          }
        }
        textarea{
          max-width: 415px;
          height: 156px;
          border-radius: 0;
          &::placeholder{
            font-family: "Rajdhani";
            font-weight: 400;
            font-size: 15px;
            color: #535353
          }
        }
        .btn{
          margin: 0 0 0 auto;
        }
      }
    }
  }
  .whyRight{
    padding: 85px 0 0;
    text-align: left;
    ul{
      margin: 20px auto;
      padding: 0 0 0 20px;
      li{
        font-family: "Teko";
        font-weight:400;
        font-size: 37px;
        color: #FFF;
        line-height: 180%;
      }
    }
  }
}
