h1 {
  font-family: "Teko";
  font-size: 65px;
  font-weight: 700;
  color: #0059B2;
  line-height: 110%
}
h2{
  font-family: "Teko";
  font-weight: 700;
  font-size: 71px;
  color: #0059B2;
}
h3{
  font-family: "Century Gothic";
  font-weight: 700;
  font-size: 22px;
  color: #333333;
  line-height: 120%
}
