@font-face { font-family: "socialico"; src: url("fonts/Socialico/Socialico.eot"); src: url("fonts/Socialico/Socialico.eot?#iefix") format("embedded-opentype"), url("fonts/Socialico/Socialico.woff2") format("woff2"), url("fonts/Socialico/Socialico.woff") format("woff"), url("fonts/Socialico/Socialico.ttf") format("truetype"), url("fonts/Socialico/Socialico.svg#lobster_1.4regular") format("svg"); }

@font-face { font-family: 'Rajdhani'; src: url("fonts/Rajdhani-Bold.woff2") format("woff2"), url("fonts/Rajdhani-Bold.woff") format("woff"); font-weight: bold; font-style: normal; }

@font-face { font-family: 'Teko'; src: url("fonts/Teko-Bold.woff2") format("woff2"), url("fonts/Teko-Bold.woff") format("woff"); font-weight: bold; font-style: normal; }

@font-face { font-family: 'Oswald'; src: url("fonts/Oswald-DemiBold.woff2") format("woff2"), url("fonts/Oswald-DemiBold.woff") format("woff"); font-weight: 600; font-style: normal; }

@font-face { font-family: 'Teko'; src: url("fonts/Teko-Regular.woff2") format("woff2"), url("fonts/Teko-Regular.woff") format("woff"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'Rajdhani'; src: url("fonts/Rajdhani-Medium.woff2") format("woff2"), url("fonts/Rajdhani-Medium.woff") format("woff"); font-weight: 500; font-style: normal; }

@font-face { font-family: 'Century Gothic'; src: url("fonts/CenturyGothic-Bold.woff2") format("woff2"), url("fonts/CenturyGothic-Bold.woff") format("woff"); font-weight: bold; font-style: normal; }

@font-face { font-family: 'Rajdhani'; src: url("fonts/Rajdhani-Regular.woff2") format("woff2"), url("fonts/Rajdhani-Regular.woff") format("woff"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'Montserrat'; src: url("fonts/Montserrat-Bold.woff2") format("woff2"), url("fonts/Montserrat-Bold.woff") format("woff"); font-weight: bold; font-style: normal; }

@font-face { font-family: 'Montserrat'; src: url("fonts/Montserrat-Black.woff2") format("woff2"), url("fonts/Montserrat-Black.woff") format("woff"); font-weight: 900; font-style: normal; }

.suspension-contain { max-height: 980px; overflow: hidden; position: relative; }

html.suspended { background: rgba(0, 0, 0, 0.6); }

body { max-width: 100%; min-width: 1200px; margin: 0 auto; text-align: center; font-family: Arial; }

a { color: inherit; text-decoration: none; }

a:hover { text-decoration: none; color: inherit; }

h1, h2, h3, h4, h5 { padding: 0; margin: 0; }

.row { max-width: 1431px; margin: 0 auto; }

/*floats*/
.fl { float: left; }

.fr { float: right; }

/*grids*/
.col-1 { width: 8.33%; }

.col-2 { width: 16.66%; }

.col-3 { width: 25%; }

.col-4 { width: 33.33%; }

.col-5 { width: 41.66%; }

.col-6 { width: 50%; }

.col-7 { width: 58.33%; }

.col-8 { width: 66.66%; }

.col-9 { width: 75%; }

.col-10 { width: 83.33%; }

.col-11 { width: 91.66%; }

.col-12 { width: 100%; }

/*sm*/
.fb { background: url(../images/common/sm-sprites.png) no-repeat 0 0; width: 42px; height: 39px; }

.gp { background: url(../images/common/sm-sprites.png) no-repeat -49px 0; width: 42px; height: 39px; }

.in { background: url(../images/common/sm-sprites.png) no-repeat -102px 0; width: 42px; height: 39px; }

.tt { background: url(../images/common/sm-sprites.png) no-repeat -148px 0; width: 42px; height: 39px; }

.ig { background: url(../images/common/sm-sprites.png) no-repeat -198px 0; width: 42px; height: 39px; }

.yt { background: url(../images/common/sm-sprites.png) no-repeat -245px 0; width: 42px; height: 39px; }

/*typography*/
.text-primary { color: #B11414; }

.text-bold { font-weight: 700; }

.text-uppercase { text-transform: uppercase; }

.text-center { text-align: center !important; }

.text-left { text-align: left; }

/*button*/
.btn { font-family: "Century Gothic"; font-size: 20px; font-weight: 700; color: #FFF; letter-spacing: 2px; display: inline-block; padding: 20px 35px; background: #0059B2; border-radius: 5px; border: 1px solid transparent; -webkit-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease; }

.btn:hover { background: #ddd; border-color: #ddd; color: #ddd; color: #000; }

/*clearings*/
.clear { clear: both; }

.clearfix { display: block; }

.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; font-size: 0; }

/*cookie*/
.cc-animate.cc-revoke.cc-bottom { font-size: 14px; padding: 5px 10px; position: fixed; display: block !important; -webkit-transform: none !important; -ms-transform: none !important; transform: none !important; bottom: 0 !important; left: 20px !important; }

/*call to action*/
.destroy-on-load, .cta { display: none; }

/*contact form messages*/
form .messages p { display: none; font-family: Arial !important; font-weight: 400 !important; letter-spacing: 0 !important; font-size: 16px !important; }

form .loading { display: none; }

form .alert { padding: 15px; margin-bottom: 20px; border: 1px solid transparent; border-radius: 4px; }

form .alert-success { color: #3c763d; background-color: #dff0d8; border-color: #d6e9c6; }

form .alert-danger { color: #a94442; background-color: #f2dede; border-color: #ebccd1; }

form [type="submit"] { margin: 20px auto; }

/*contact form*/
.ctc-form { margin: 0 auto; text-align: center; }

.ctc-form input[type="text"] { font-family: Arial; font-size: 16px; color: #000; height: 45px; display: block; width: 100%; border: 1px solid #ddd; border-radius: 3px; padding: 5px 10px; -webkit-box-sizing: border-box; box-sizing: border-box; margin: 0 auto 8px; }

.ctc-form textarea { font-family: Arial; font-size: 16px; color: #000; height: 45px; display: block; width: 100%; border: 1px solid #ddd; border-radius: 3px; padding: 5px 10px; -webkit-box-sizing: border-box; box-sizing: border-box; margin: 0 auto 8px; height: 120px; padding-top: 10px; }

.ctc-form button { display: block; }

.ctc-form .recap { display: inline-block; }

.ctc-form .g-recaptcha div { margin: 0 auto 10px; }

.ctc-form .ctc-hide { display: none; }

/*gallery*/
#content .gallery-container { text-align: center; }

#content .gallery { list-style-type: none; margin: 0; padding: 0; }

#content .gallery li { display: inline-block; }

#content .thumbnail { background-color: #fff; border: 1px solid #ddd; border-radius: 4px; display: block; line-height: .42857; margin-bottom: 20px; padding: 4px; -webkit-transition: border 0.5s ease-in-out 0s; -o-transition: border 0.5s ease-in-out 0s; transition: border 0.5s ease-in-out 0s; }

#content .thumbnail:hover { -webkit-transform: scale(1.02); -ms-transform: scale(1.02); transform: scale(1.02); }

#content .page_navigation { display: inline-block; }

#content .page_link, #content .previous_link, #content .next_link, #content .first_link, #content .last_link, #content .ellipse { background-color: #fff; border: 1px solid #ddd; color: #0275d8; display: inline-block; line-height: 1.25; margin-left: -1px; padding: 0.5rem 0.75rem; position: relative; }

#content .page_navigation > a:hover { background-color: #eceeef; border-color: #ddd; color: #014c8c; text-decoration: none; }

.page_navigation > a.active_page { background-color: #eceeef; border-color: #ddd; color: #014c8c; text-decoration: none; }

h1 { font-family: "Teko"; font-size: 65px; font-weight: 700; color: #0059B2; line-height: 110%; }

h2 { font-family: "Teko"; font-weight: 700; font-size: 71px; color: #0059B2; }

h3 { font-family: "Century Gothic"; font-weight: 700; font-size: 22px; color: #333333; line-height: 120%; }

/*header*/
#header { background: #0059B2; padding: 14px 0; }

#header .hdLeft { text-align: left; }

#header .hdLeft nav a#pull { display: none; }

#header .hdLeft nav ul { margin: 10px 0; padding: 0; }

#header .hdLeft nav ul li { display: inline-block; vertical-align: middle; }

#header .hdLeft nav ul li a { font-family: "Teko"; font-weight: 400; font-size: 22px; color: #FFFFFF; letter-spacing: 2px; padding: 1px 0; }

#header .hdLeft nav ul li a span { font-size: 18px; margin: 0 10px 0; display: inline-block; vertical-align: middle; }

#header .hdLeft nav ul li:first-child a, #header .hdLeft nav ul li:last-child a { padding: 0 0; }

#header .hdLeft nav ul li.active-menu a, #header .hdLeft nav ul li a:hover { color: #fff; }

#header .hdRight { text-align: right; }

#header .hdRight p { margin: 0; }

#header .hdRight p a { margin-left: 8px; }

/*banner*/
#banner { background: url(../images/common/bgBanner.jpg) no-repeat center top; background-size: cover; padding: 10px 0 129px; }

#banner .bannerTop .col-2 { padding: 10px 0 0; text-align: right; }

#banner .bannerTop .col-2 h5 { font-family: "Rajdhani"; font-weight: 400; font-size: 15px; color: #FFF; }

#banner .bannerTop .col-2 p { margin: 0; font-family: "teko"; font-weight: 400; font-size: 35px; color: #FFFFFF; }

#banner .bannerBot p { margin: 409px auto 0; text-align: left; text-indent: 114px; font-family: "Montserrat"; font-weight: 900; font-size: 120px; color: #FFFFFF; line-height: 100%; }

#banner .bannerBot p span { display: block; }

#banner .bannerBot p span:nth-child(1) { margin-left: 65px; font-size: 65px; line-height: 100%; }

#banner .bannerBot p span:nth-child(2) { margin-left: 140px; font-weight: bold; font-size: 31px; line-height: 120%; }

#banner2 { background: #0059B2; padding: 30px 0; }

#banner2 h1 { font-family: "Teko"; font-weight: 400; font-size: 80px; color: #FFFFFF; line-height: 100%; }

#banner2 h2 { font-family: "Rajdhani"; font-weight: 500; font-size: 40px; color: #FFFFFF; line-height: 119%; }

/*services*/
#services { background: url(../images/common/bgServices.jpg) no-repeat center top; background-size: cover; padding: 50px 0 100px; }

#services .row { max-width: 1200px; }

#services h2 { text-align: left; }

#services .container { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -ms-flex-wrap: wrap; flex-wrap: wrap; }

#services .container dl { max-width: 290px; width: 24%; }

#services .container dl dt img { max-width: 290px; width: 100%; height: 100%; }

#services .container dl dd { background: #0059B2; margin: -5px 0; padding: 20px 0 30px 26px; text-align: left; }

#services .container dl dd h3 { font-family: "Teko"; font-weight: 400; font-size: 33px; color: #FFFFFF; margin-bottom: 20px; }

#services .container dl dd .servicesbtn { font-family: "Teko"; font-size: 16px; font-weight: 400; letter-spacing: 2.5px; color: #FFF; display: inline-block; padding: 15px 29px; background: none; border: 1px solid #FFF; -webkit-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease; }

#services .container dl dd .servicesbtn:hover { background: #ddd; border-color: #ddd; color: #ddd; color: #fff; }

/*welcome*/
#welcome { background: url(../images/common/bgWelcome.jpg) no-repeat center top; background-size: cover; padding: 100px 0 80px; }

#welcome .col-6 .container { position: relative; text-align: left; background: #FFFFFF; max-width: 564px; width: 79%; padding: 55px 60px 53px; margin-left: -8px; }

#welcome .col-6 .container::after { content: ""; width: 0; height: 0; border-top: 176px solid transparent; border-left: 110px solid #0059B2; border-bottom: 0 solid transparent; position: absolute; bottom: 0; left: 0; z-index: 0; }

#welcome .col-6 .container p { font-family: "Rajdhani"; font-weight: 400; font-size: 20px; color: #333333; line-height: 150%; }

#welcome .col-6 .container .welcomebtn { position: relative; z-index: 1; font-family: "Century Gothic"; font-size: 15px; font-weight: 700; letter-spacing: 1px; color: #FFF; display: inline-block; padding: 23px 30px; background: -webkit-gradient(linear, left top, right top, color-stop(-12%, #969696), color-stop(55%, #262626)); background: -webkit-linear-gradient(left, #969696 -12%, #262626 55%); background: -o-linear-gradient(left, #969696 -12%, #262626 55%); background: linear-gradient(to right, #969696 -12%, #262626 55%); border-radius: 5px; border: 1px solid #000; -webkit-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease; }

#welcome .col-6 .container .welcomebtn:hover { background: #ddd; border-color: #ddd; color: #ddd; color: #000; }

/*What we do*/
#what { background: url(../images/common/bgWhat.jpg) no-repeat center top; background-size: cover; padding: 83px 0 78px; }

#what .whtLeft { text-align: left; padding: 20px 0; }

#what .whtLeft p { font-family: "Rajdhani"; font-weight: 500; font-size: 20px; line-height: 138%; max-width: 545px; color: #212121; }

#what .whtLeft ul { list-style: square inside url("../images/common/check-blue.png"); -webkit-columns: 2; columns: 2; padding: 0 0 0 0; margin: 50px 0; }

#what .whtLeft ul li { font-family: "teko"; font-weight: 400; font-size: 22px; color: #222222; line-height: 180%; }

#what .whtLeft ul li span { margin-left: 20px; }

#what .whtRight div { position: relative; max-width: 743px; width: 100%; }

#what .whtRight div::after { content: ""; width: 0; height: 0; border-top: 176px solid transparent; border-left: 110px solid #0059B2; border-bottom: 0 solid transparent; position: absolute; bottom: 4px; left: 0; z-index: 0; }

#what .whtRight div img { max-width: 743px; width: 100%; }

/*WHY CHOOSE US*/
#why { background: url(../images/common/bgWhy.jpg) no-repeat center top; background-size: cover; padding: 60px 0; }

#why .row { max-width: 1200px; }

#why .whyLeft { text-align: left; }

#why .whyLeft .container { text-align: left; border-radius: 5px; background: #FFFFFF; padding: 23px 33px; max-width: 419px; }

#why .whyLeft .container h2 span { display: block; font-family: "Teko"; font-weight: 400; font-size: 26px; color: #333333; }

#why .whyLeft .container form { text-align: left; }

#why .whyLeft .container form input[type="text"] { max-width: 415px; height: 52px; border-radius: 0; }

#why .whyLeft .container form input[type="text"]::-webkit-input-placeholder { font-family: "Rajdhani"; font-weight: 400; font-size: 15px; color: #535353; }

#why .whyLeft .container form input[type="text"]:-ms-input-placeholder { font-family: "Rajdhani"; font-weight: 400; font-size: 15px; color: #535353; }

#why .whyLeft .container form input[type="text"]::-ms-input-placeholder { font-family: "Rajdhani"; font-weight: 400; font-size: 15px; color: #535353; }

#why .whyLeft .container form input[type="text"]::placeholder { font-family: "Rajdhani"; font-weight: 400; font-size: 15px; color: #535353; }

#why .whyLeft .container form textarea { max-width: 415px; height: 156px; border-radius: 0; }

#why .whyLeft .container form textarea::-webkit-input-placeholder { font-family: "Rajdhani"; font-weight: 400; font-size: 15px; color: #535353; }

#why .whyLeft .container form textarea:-ms-input-placeholder { font-family: "Rajdhani"; font-weight: 400; font-size: 15px; color: #535353; }

#why .whyLeft .container form textarea::-ms-input-placeholder { font-family: "Rajdhani"; font-weight: 400; font-size: 15px; color: #535353; }

#why .whyLeft .container form textarea::placeholder { font-family: "Rajdhani"; font-weight: 400; font-size: 15px; color: #535353; }

#why .whyLeft .container form .btn { margin: 0 0 0 auto; }

#why .whyRight { padding: 85px 0 0; text-align: left; }

#why .whyRight ul { margin: 20px auto; padding: 0 0 0 20px; }

#why .whyRight ul li { font-family: "Teko"; font-weight: 400; font-size: 37px; color: #FFF; line-height: 180%; }

/*Our Works*/
#works { background: -webkit-gradient(linear, left top, left bottom, from(#D6D6D6), to(#FFFFFF)); background: -webkit-linear-gradient(#D6D6D6, #FFFFFF); background: -o-linear-gradient(#D6D6D6, #FFFFFF); background: linear-gradient(#D6D6D6, #FFFFFF); padding: 50px 0; }

#works .row { text-align: left; max-width: 1200px; }

#works .row p { font-family: "Rajdhani"; font-weight: 500; font-size: 27px; color: #000000; margin: 5px auto; }

#works .row:nth-child(2) { text-align: center; max-width: 1876px; margin: 0 0 0 auto; }

#works .row:nth-child(2) .container { margin: 20px auto 0; }

#works .row:nth-child(2) .workLeft.col-6 { width: 55.70362473347548%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-line-pack: justify; align-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

#works .row:nth-child(2) .workLeft.col-6 img { margin: 0 5px 17px; }

#works .row:nth-child(2) .workLeft.col-6 img:nth-child(1) { max-width: 497px; width: 48%; height: 100%; }

#works .row:nth-child(2) .workLeft.col-6 img:nth-child(2) { max-width: 401px; width: 39%; height: 100%; }

#works .row:nth-child(2) .workLeft.col-6 img:nth-child(3) { max-width: 509px; width: 48%; height: 100%; }

#works .row:nth-child(2) .workLeft.col-6 img:nth-child(4) { max-width: 516px; width: 49%; height: 100%; }

#works .row:nth-child(2) .workMid.col-3 { width: 23.02771855010661%; }

#works .row:nth-child(2) .workMid.col-3 .gal { text-align: center; max-width: 431px; width: 100%; height: 100%; position: relative; }

#works .row:nth-child(2) .workMid.col-3 .gal .galleryTxt { position: absolute; bottom: 50px; left: 50%; -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%); }

#works .row:nth-child(2) .workMid.col-3 .gal .galleryTxt h2 { letter-spacing: 4px; font-size: 4vw; color: #FFF; margin-bottom: 20px; }

#works .row:nth-child(2) .workMid.col-3 .gal .galleryTxt .galleryBtn { font-family: "Rajdhani"; font-size: 15px; font-weight: 400; color: #000; letter-spacing: 2px; display: inline-block; padding: 18px 2.5vw; background: #FFFFFF; border-radius: 0; border: 1px solid transparent; -webkit-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease; }

#works .row:nth-child(2) .workMid.col-3 .gal .galleryTxt .galleryBtn:hover { background: #ddd; border-color: #ddd; color: #ddd; color: #DDD; }

#works .row:nth-child(2) .workMid.col-3 img { max-width: 401px; width: 92%; height: 100%; margin: 0 auto; }

#works .row:nth-child(2) .workRight.col-3 { width: 21.26865671641791%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; -ms-flex-wrap: wrap; flex-wrap: wrap; }

#works .row:nth-child(2) .workRight.col-3 img { margin: 0 0 17px; }

#works .row:nth-child(2) .workRight.col-3 img:nth-child(1) { max-width: 401px; width: 100%; height: 100%; }

#works .row:nth-child(2) .workRight.col-3 img:nth-child(2) { max-width: 356px; width: 89%; height: 100%; }

/*location*/
#location { background: url(../images/common/bgLocation.jpg) no-repeat center top; background-size: cover; padding: 40px 0; }

#location .row { max-width: 1200px; margin: 0 auto; }

#location h2 { color: #FFFFFF; }

#location iframe { width: 100%; height: 287px; border: 0; }

#location h4 { font-family: "Rajdhani"; font-weight: 700; font-size: 30px; color: #FFF; line-height: 120%; margin: 40px auto; }

#location .container ul { padding: 0; list-style: square inside url("../images/common/check-white.png"); display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

#location .container ul li { font-family: "Rajdhani"; font-weight: 400; font-size: 20px; color: #FFFFFF; }

/*footer*/
#footer { background: url(../images/common/bgFooter.jpg) no-repeat center top; background-size: cover; padding: 20px 0; }

#footer .footTop .row { padding-bottom: 40px; margin-bottom: 40px; border-bottom: 1px solid #FFF; }

#footer .footTop .container { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

#footer .footTop .footTopLeft { max-width: 280px; width: 100%; text-align: left; }

#footer .footTop .footTopLeft p { font-family: "Rajdhani"; font-weight: 400; font-size: 15px; color: #FFFFFF; letter-spacing: 2px; line-height: 32.5px; }

#footer .footTop .footTopLeft p span { display: block; font-family: "Teko"; font-weight: 400; font-size: 30px; color: #FFFFFF; }

#footer .footTop .footTopMid img { max-width: 285px; width: 100%; }

#footer .footTop .footTopRight { max-width: 280px; width: 100%; color: #FFF; text-align: left; }

#footer .footTop .footTopRight p { margin: 0 auto; font-family: "Rajdhani"; font-weight: 400; font-size: 15px; color: #FFFFFF; letter-spacing: 2px; line-height: 32.5px; }

#footer .footTop .footTopRight p span { display: block; font-family: "Teko"; font-weight: 400; font-size: 30px; color: #FFFFFF; }

#footer .footTop .footTopRight p:nth-child(3) a img.fb { background: url(../images/common/smSmall-sprites.png) no-repeat 0 0; width: 29px; height: 28px; }

#footer .footTop .footTopRight p:nth-child(3) a img.gp { background: url(../images/common/smSmall-sprites.png) no-repeat -36px 0; width: 29px; height: 28px; }

#footer .footTop .footTopRight p:nth-child(3) a img.in { background: url(../images/common/smSmall-sprites.png) no-repeat -69px 0; width: 29px; height: 28px; }

#footer .footTop .footTopRight p:nth-child(3) a img.tt { background: url(../images/common/smSmall-sprites.png) no-repeat -105px 0; width: 29px; height: 28px; }

#footer .footTop .footTopRight p:nth-child(3) a img.ig { background: url(../images/common/smSmall-sprites.png) no-repeat -140px 0; width: 29px; height: 28px; }

#footer .footTop .footTopRight p:nth-child(3) a img.yt { background: url(../images/common/smSmall-sprites.png) no-repeat -172px 0; width: 29px; height: 28px; }

#footer .footBot ul { margin: 10px 0; padding: 0; }

#footer .footBot ul li { display: inline-block; vertical-align: middle; }

#footer .footBot ul li a { font-family: "Teko"; font-weight: 400; font-size: 22px; color: #FFFFFF; letter-spacing: 2px; padding: 1px 0; }

#footer .footBot ul li a span { font-size: 18px; margin: 0 5px 0; display: inline-block; vertical-align: middle; }

#footer .footBot ul li:first-child a, #footer .footBot ul li:last-child a { padding: 0 0; }

#footer .footBot ul li.active-menu a, #footer .footBot ul li a:hover { color: #0059B2; }

#footer .footBot ul li.active-menu a span, #footer .footBot ul li a:hover span { color: #FFFFFF; }

#footer .copy, #footer .silver { font-family: "Rajdhani"; font-weight: 400; font-size: 14px; color: #FFFFFF; color: #FFF; margin: 10px auto; }

#footer .silver img { display: inline-block; vertical-align: middle; max-width: 50px; }

/*inner pages*/
.inner #content { min-height: 400px; padding: 40px 0; }

/*privacy policy*/
.inPrivacyBox { max-width: 850px; margin: 0 auto; }

.inPrivacyBox p { text-align: justify !important; }

/** Responsive
-------------------------------------------------------*/
@media screen and (max-width: 1440px) { .row { width: 95%; }
  #works .row:nth-child(2) .workLeft.col-6 img { margin: 0 4px 17px; } }

/*@media screen and (max-width: 1024px){
	body {min-width: 320px}
	.row {width: 95%}
}*/
/*@media screen and (max-width: 800px){
  [class*="col-"] {
    width: 100%!important;
  }
	#header {padding: 0}
	#header .row {width: 100%}
	#header nav {display:block; height: auto; }
  	#header nav ul { width: 100%; display: none; height: auto;border-bottom:5px solid #000; padding: 0 15px;}
  	#header nav ul li { width: 100%;position: relative; }
  	#header nav ul li a { display: block; float:none; padding: 10px 0;}
  	#header nav a {text-align: left; width: 100%;}
	#header nav a strong {position: absolute; top: 50%; transform: translateY(-50%); left: 15px;}
	#header nav a#pull {display: block; color: #fff; background-color: #000; height: 30px;padding: 10px 0; width: 100%; position: relative;}
	#header nav a#pull:after { content:""; background: url('../images/nav-icon.png') no-repeat; width: 20px; height: 20px; display: inline-block; position: absolute; right: 15px; top: 50%; transform: translateY(-50%);}

	.cta{background: #035B96  url("../images/common/phonecall.png") no-repeat center center;border-bottom-left-radius: 40px;border-top: 2px solid #013f9a ;border-top-left-radius: 40px;bottom: 1%;display: block;height: 80px;position: fixed;right: 0;text-decoration: none; text-indent: -9999em;width: 100px;z-index: 999;}
}*/
