/*Our Works*/
#works .row {
  max-width: 1876px;
  margin: 0 0 0 auto; }

#works .workLeft.col-6 {
  width: 55.70362473347548%; }

#works .workMid.col-3 {
  width: 23.02771855010661%; }

#works .workRight.col-3 {
  width: 21.26865671641791%; }
