/*location*/
#location {
  background: url(../images/common/bgLocation.jpg) no-repeat center top;
  background-size: cover;
  padding: 40px 0; }
  #location h2 {
    color: #FFFFFF; }
  #location iframe {
    width: 100%;
    height: 287px;
    border: 0; }
