@font-face {
  font-family: "socialico";
  src: url("fonts/Socialico/Socialico.eot");
  src: url("fonts/Socialico/Socialico.eot?#iefix") format("embedded-opentype"), url("fonts/Socialico/Socialico.woff2") format("woff2"), url("fonts/Socialico/Socialico.woff") format("woff"), url("fonts/Socialico/Socialico.ttf") format("truetype"), url("fonts/Socialico/Socialico.svg#lobster_1.4regular") format("svg"); }

@font-face {
  font-family: 'Rajdhani';
  src: url("fonts/Rajdhani-Bold.woff2") format("woff2"), url("fonts/Rajdhani-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Teko';
  src: url("fonts/Teko-Bold.woff2") format("woff2"), url("fonts/Teko-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Oswald';
  src: url("fonts/Oswald-DemiBold.woff2") format("woff2"), url("fonts/Oswald-DemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Teko';
  src: url("fonts/Teko-Regular.woff2") format("woff2"), url("fonts/Teko-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Rajdhani';
  src: url("fonts/Rajdhani-Medium.woff2") format("woff2"), url("fonts/Rajdhani-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Century Gothic';
  src: url("fonts/CenturyGothic-Bold.woff2") format("woff2"), url("fonts/CenturyGothic-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Rajdhani';
  src: url("fonts/Rajdhani-Regular.woff2") format("woff2"), url("fonts/Rajdhani-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat';
  src: url("fonts/Montserrat-Bold.woff2") format("woff2"), url("fonts/Montserrat-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat';
  src: url("fonts/Montserrat-Black.woff2") format("woff2"), url("fonts/Montserrat-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal; }
